:root {
	--primary: #023047;
	--secondary: #db008d;
	--white: #ffffff;
	--black: #000000;
	--gray: #f2f2f2;
}

/* apply a natural box layout model to all elements, but allowing components to change */
html,
body {
	scroll-behavior: smooth;
}
html {
	box-sizing: border-box;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}

/* Global */
body {
	box-sizing: border-box;
	background-color: var(--gray);
}
.container {
	max-width: 1100px;
	margin: 0 auto;
}
h2 {
	flex: 0 1 100%;
	text-align: center;
	font-size: 1.6rem;
}
h3 {
	font-family: 'Libre Baskerville', serif;
	margin: 0;
	font-weight: 700;
}
img {
	max-width: 100%;
}

.wrapper {
	perspective: 1px;
	transform-style: preserve-3d;
	height: 100vh;
	overflow-x: hidden;
	overflow-y: scroll;
}

/* Header */
.header {
	z-index: -1;
}

.hero {
	background-image: url('../img/hero.jpg');
	background-position: center;
	background-size: cover;
	height: 100vh;
	position: relative;
	transform: translateZ(-1px) scale(2);
	/* background-attachment: fixed; */
}
/* Navbar */
.navbar {
	background-color: var(--primary);
}
.header-container {
	padding: 1rem 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/* Nav - Main-Navigation */
.main-navigation {
	flex: 50%;
	display: flex;
	justify-content: flex-end;
}
.main-navigation a {
	margin-left: 3rem;
	color: var(--white);
	text-decoration: none;
}
/* Header Text */
.header-text {
	display: flex;
	align-items: center;
}

/* Cards */
.main-content-container {
	position: relative;
	display: block;
	background-color: var(--gray);
	height: 90vh;
	display: flex;
	align-items: center;
	padding-bottom: 2rem;
}
.content {
	background-color: var(--white);
	margin-bottom: 1rem;
	text-transform: uppercase;
}
.content {
	padding: 1rem;
	text-align: center;
}
.content h3 {
	text-align: center;
	font-size: 0.9rem;
	line-height: 1.4rem;
}

.content span {
	color: var(--secondary);
}
.button {
	background-color: var(--primary);
	color: var(--white);
	padding: 0.6rem 2rem;
	margin-top: 1rem;
	display: inline-block;
	text-decoration: none;
	text-transform: uppercase;
}
@media screen and (min-width: 480px) {
	.main-content {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}
	.entry {
		flex: 0 1 calc(50% - 1rem);
	}
}

@media screen and (min-width: 768px) {
	.entry {
		flex: 0 1 calc(33% - 1rem);
	}
}

footer p {
	margin: 0;
}
footer {
	padding: 3rem;
	background-color: var(--primary);
	color: white;
	font-size: 1.3rem;

	display: flex;
	justify-content: center;
	align-items: center;
}
