.main-content {
	background-color: $gray;
	// display: flex;
	align-items: center;
	justify-content: center;

	& .main {
		padding: 4rem 2rem;
	}
}

.main-content-container {
	// display: flex;
	flex-direction: column;

	@include respond(sm) {
		flex-flow: row wrap;
		align-content: center;
	}

	& h2 {
		text-align: center;
		flex: 100%;
	}
	// & entry {
	// 	@include respond(sm) {
	// 		flex: 33.3%;
	// 	}
	// }
}

// @media screen and (min-width: 480px) {
// 	.main-content {
// 		display: flex;
// 		justify-content: space-between;
// 		flex-wrap: wrap;
// 	}
// }
