// Adelle Font 900 Regular
@import url('https://use.typekit.net/cjq6fzj.css');

body {
	font-family: adelle-sans, sans-serif;
	font-weight: 400;
	font-style: normal;
}

h1 {
	text-transform: capitalize;
	color: var(--white);
	font-size: clamp(2.5rem, 7vw, 5rem);
	line-height: 1.4;
}

.main-content-container {
	h2 {
		padding-bottom: 4rem;
	}
	h3 {
		margin: 0;
		font-weight: 700;
	}
}

// Navbar Fonts
.nav-toggle-label {
	font-size: 2.4rem;
}

// Nav Menu
.menu {
	background-color: $primary;

	& a {
		font-size: 1.4rem;
		color: $secondary;
		text-transform: uppercase;
		padding: 1rem 2rem;

		@include respond(sm) {
			padding: 0;
			margin-left: 2rem;
		}
		@include respond(md) {
			margin-left: 4rem;
		}

		&:hover {
			color: $white;
			background-color: $primary-darker;

			@include respond(sm) {
				background-color: $primary;
			}
		}
	}
}

footer p {
	color: $secondary;
	font-size: 1.3rem;
}
