// Colors
$primary: #111f51;
$primary-darker: #080f29;
$secondary: #17abbe;
$accent: #ecbc1d;
$white: #ffffff;
$black: #000000;
$gray: #e1e3e9;

// Font Size
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;

// Grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
